.statistics {
    
    margin: 25px auto;
    width: 45%;
    margin-left:2px ;
}

.statistics>h1 {
    font-size: 1.5rem;
   
    text-align: left;
}

.statistics>table {
    background-color: #fce9a6;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    width: 50%;
    font-weight: 600;
    font-size: medium;
}

.statistics>table>tr>td {
    padding: 4px;
}